//colors
$main-light-gray: #ededf0;
$main-gray: #666666;
$main-green: #86c662;
$main-white: #ffffff;
$main-gray-blue: #3d7477;
$main-light-blue: #99cfff;
$main-beige: #f4edc8;
$main-yellow: #ffa02a;
$main-red: #df605b;

//font sizes
