@import '../../assets/scss/variables.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 80%;
}

.main__wrapper {
  width: 100%;
  max-width: 1280px;
}

.main__img {
  display: block;
  position: absolute;
  top: 10vh;
  left: 30vw;
  width: 60vw;
  height: 70vh;
  background-image: url(../../assets/images/main-picture.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -10;
}

.main__heading {
  width: 60vw;
  margin-top: 10vh;

    span {
      display: inline-block;
      font-size: 3rem;
      margin-left: 1rem;
    }

    .main_h1 {
      display: inline-block;
      margin-top: 2rem;
    }
   
}