@import '../../assets/scss/variables.scss';

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  //border: 1px solid black;
  background-color: $main-gray-blue;
  border-radius: 20px;
  z-index: 100;


    p {
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30vw;
  margin-bottom: 30px;

    input {
      height: 3rem;
      border-radius: 10px;
      border: none;
      font-size: 1.2rem;
      color: $main-gray;
    }

    input:focus {
      outline: none;
    }

    input::placeholder {
      color: $main-light-blue;
    }
}

.btn.login-btn,
.btn.sign-up-btn {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  background-color: $main-light-blue;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: $main-gray-blue;
  font-weight: 700;
}


.btn.sign-up-btn {
  background-color: $main-green;
}

.span__sign-up {
  display: inline-block;
  color: $main-light-blue;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
}

.sign-up-button {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
  color: $main-white;
  text-decoration: underline;
  cursor: pointer;
}

.log-out-button {
  color: white;
}