@import '../../assets/scss/variables.scss';

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  border-top: 3px solid $main-gray-blue;
  width: 100%;
}

.section-team {
  border-top: none;
  color: $main-deep-blue;
  border-bottom: 3px solid $main-soft-blue;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  width: 100%;
  max-width: 1280px;
}

.section__h2 {
  position: relative;
}

.section-project__h2,
.section-team__h2 {
  width: 500px;
  text-align: center;
  color: $main-deep-blue;
  border-top: 2px solid $main-deep-blue;
  border-bottom: 2px solid $main-deep-blue;

    @media (max-width: 768px) {
        width: 400px;
    }
}


.section__cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  max-width: 250px;
  padding: 15px;
  text-align: justify;
  color: $main-white;
  //border: 1px solid $main-gray;
  background-color: $main-deep-blue;
  border: 3px solid $main-soft-blue;
  border-radius: 15px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.36);
}

.section__h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.section__card-text {

}


.section-team__cards-wrapper {
  gap: 100px;
}

.card__member {
  display: flex;
  flex-direction: column;
  align-items: center;

  ol {
    text-align: center;
    padding: 0;

    li {
      //color: $main-gray;
      color: #000000;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}


.card__photo {
  width: 200px;
  height: 200px;
  border: 1px solid $main-white;
  border-radius: 100px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.26);
  background-color: $main-white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.photo__berillo {
 background-image: url(../../assets/images/Berillo_main_photo.jpg);
 background-size: 100%;
}

.photo__blinou {
  background-image: url(../../assets/images/Blinou_main_photo.jpg);
 }

 .photo__korolchuk {
  background-image: url(../../assets/images/Korolchuk_main_photo.jpg);
 }

.section__h4.card__member-name {
  font-weight: 500;
  margin-bottom: 5px;
}

.section__h4.card__member-role {
  font-size: 1.1rem;
  font-weight: 400;
}

.section__h4 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.section__github-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;

    a {
      font-weight: 500;
      color: $main-gray-blue;
      color: #6362c2;
    }
}

.github-logo {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/github.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}