@import '../../assets/scss/variables.scss';

.header {
  display: flex;
  min-height: 70px;
  background-color: $main-yellow;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: $main-yellow;
}

.header-nav-ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 7vw;
  margin-right: 7vw;
}

.header__nav-li_games {
  
}

.header__games-ul {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  z-index: -10;

    li {
      margin-bottom: 5px;
      background-color: $main-yellow;
      border: 1px solid $main-white;
      border-radius: 5px;
      padding: 5px;
    }
}

.header__nav-sprint,
.header__nav-call {

}

.header-nav-li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;

    &:after {
      display: block;
      position: absolute;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $main-gray;
      content: "";
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);
    }

    &:hover:after,
    &:focus:after {
	    width: 100%;
    }
}

.btn.header__btn {
  position: relative;
  display: inline-block;
  background-color: $main-green;
  border-radius: 15px;
  padding: 5px 25px;
  transition: 0.3s;

    &:hover {
      color: $main-white;
    }
}

.header__btn:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(255,255,255,0.3);
	border-radius: 20px;
	transition: all 0.3s ease;
}

.header__btn:hover:before {
	width: 100%;
}

.login-container {
  display: flex;
  gap: 3vw;
  padding-right: 10px;
}

.user-name-field {
  display: flex;
  //width: 10vw;
  align-items: center;
  font-weight: 500;
  color: $main-green;
}

/*.user-name-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 3px solid $main-light-blue;
  background-color: $main-green;

    span {
      color: $main-light-blue;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 2rem;
    }
}*/