@import '../../assets/scss/variables.scss';

.header {
  display: flex;
  justify-content: center;
  height: 60px;
  min-height: 60px;
  background-color: $main-yellow;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  align-items: center;
  background-color: $main-yellow;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {

  .nav {
    position: absolute;
    top: 60px;
    left: -200px;
    width: 200px;
    height: 260px;
    background-color: $main-yellow;
    z-index: 10;
    transition: 0.5s;

    .header-nav-ul {
      flex-direction: column;
      justify-content: start;
      row-gap: 0;
      margin: 0 auto;
      padding: 20px;

        li {
          text-align: center;
          width: 100%;
        }
    }
  }
  
}

.header-nav-ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  height: 100%;
  margin-right: 3vw;
}

.nav-active {
  left: 0;
}

.header-nav-li {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 19px;

  @media (max-width: 768px) {
    padding-bottom: 0;
    height: 50px;
  }
}

.header__nav-li_games {
  
}

.header__games-ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  height: 100%;
  top: 100%;
  left: 0;
  padding-top: 5px;
  z-index: 10000;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;

    li {
      background-color: $main-yellow;
      border: 1px solid $main-white;
      border-radius: 5px;
      padding: 5px;
    }

    @media (max-width: 768px) {
      top: 0;
      left: 135%;
      transform: scaleX(0);
    }
}

.header__games-ul  li:last-child,
.header-nav-ul > li:hover .header__games-ul {
  opacity: 1;
  transform: scaleY(1);

  @media (max-width: 768px) {
    transform: scaleX(1);
  }
}

.header__nav-sprint,
.header__nav-call {

}

.header-nav-li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 00.3s;

  &:hover {
    color: $main-light-gray;
  }

    &:after {
      display: block;
      position: absolute;
      left: 50%;
      width: 0;
      height: 1px;
      border-radius: 2px;
      background-color: $main-light-gray;
      content: "";
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);
    }

    &:hover:after,
    &:focus:after {
	    width: 100%;
    }
}

.header__btn:before,
.btn.header__login-btn:before,
.btn.header__logout-btn:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 0.3s ease;
}

.header__btn:hover:before,
.btn.header__login-btn:hover:before,
.btn.header__logout-btn:hover:before {
	width: 100%;
}

.login-container {
  display: flex;
  gap: 40px;
  height: 30px;
  padding-right: 10px;
}

.login__btns-container {
  position: relative;
  display: flex;
  width: 100px;
  gap: 5vw;
  margin-right: 10px;
}

.btn.header__login-btn,
.btn.header__logout-btn {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  background-color: $main-green;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s;

    &:hover {
      color: $main-white;
    }
}

.btn.header__logout-btn {
  background-color: $main-red;
}

.user-name-field {
  position: relative;
  display: flex;
  padding: 10px;
  padding-right: 0;
  align-items: center;
  font-size: 1,2rem;
  font-weight: 500;
  color: $main-gray;

  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-image: url(../../assets/images/user-icon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .hidden-header-button {
    display: none;
  }
}

.burger-menu {
  display: flex;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 2vh;
  transition: 0.5s;
  display: none;

    span {
      display: block;
      background-color: $main-white;
      width: 100%;
      height: 3px;
    }

    span::before,
    span::after {
      display: block;
      position: relative;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $main-white;
    }

    span::before {
      top: -12px;
      left: 0;
    }

    span::after {
      top: 9px;
      left: 0;
    }

    @media (max-width: 768px) {
      display: flex;
    }
}

.burger-active {
  transform: rotate(90deg);
}

.logo-container {
  width: 100px;
  height: 100%;
  margin-right: auto;
  background-image: url(../../assets/images/logo-blue.PNG);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}