@import '../../assets/scss/variables.scss';

.footer {
  height: 70px;
  background-color: $main-gray-blue;
}

.footer__hidden {
  display: none;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  margin-top: auto;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  height: 100%;
}

.footer__link_logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer__img {
  height: 70px;
  width: 100px;
  background-image: url(../../assets/images/rs-school-js_blue.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer__team {
  display: flex;
  justify-content: center;
  gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      row-gap: 0;
    }
}

.footer__link_team {
  position: relative;
  font-family: 'Poppins';
  color: $main-white;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

.footer__year {
  position: relative;
  color: $main-white;
  font-family: 'Poppins';
  font-weight: 500;
}

.footer__link_team:after,
.footer__year > a:after {
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $main-light-blue;
  content: "";
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.footer__link_team:hover:after,
.footer__year > a:hover:after,
.footer__year > a:focus:after {
  width: 100%;
  height: 2px;
}