@import '../../assets/scss/variables.scss';

.card {
  display: flex;
  gap: 20px;
  max-width:900px;
  height: 250px;
  margin: 0 auto;
  background-color: $main-white;
  border: 1px solid $main-green;
  box-sizing: content-box;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.26);

    @media (max-width: 768px){
      flex-direction: column;
      max-width: 400px;
      height: 550px;
    }

  }

.card-image {
  min-height: 250px;
  min-width: 230px;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 5px;

    @media (max-width: 768px) {
      min-height: 220px;
    }
}

.card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  padding: 10px;
  padding-bottom: 20px;

   @media (max-width: 768px) {
    min-height: 300px;
   }
}

.card__label {
  position: absolute;
  top: 190px;
  left: calc(100% - 60px);
  width: 0;
  height: 0;
  border-bottom: 60px solid $main-green;
  border-left: 60px solid transparent;

    @media (max-width: 768px) {
      top: 250px;
    }
}

.card__progress {
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: bold;
  margin-left: auto;
  padding: 3px;
  //background-color: rgba($main-white, 1);
  
    span:nth-of-type(1) {
      color: green;
    }

    span {
      color: orange;
    }
}

.card__word-info-wrapper {
  display: flex;
  gap: 20px;
}

.card__word-info {
  @media (max-width: 768px) {
    width: 260px;
  }
}

.card__meaning-wrapper {

}

.card__example-wrapper {

}

.card__word-meaning {
  display: inline-block;
  font-weight: 400;

    span {
      font-weight: 700;
    }

    i {
      font-style: italic;
      color: red;
      font-weight: 500;
    }
}

.card__word-meaning-translate {
  display: inline-block;
  font-weight: 400;
}

.card__word-example {
  font-weight: 400;

  span {
    font-weight: 700;
  }

  b {
    color: red;
  }
}

.card__word-example-translate {
  font-weight: 400;
}

.card__btns-wrapper {
  display: flex;
  height: 30px;
  gap: 20px;
}

.card__audio-btn {
  width: 25px;
  height: 25px;
  background-image: url(../../assets/images/audio.png);
  background-size: 100%;
  background-color: $main-white;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.36);
  cursor: pointer;

    &:active {
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.36);
    }
}

.difficult-btn {
  width: 120px;
  height: 30px;
  padding: 5px;
  color: $main-yellow;
  margin-bottom: 20px;
  font-weight: 700;
  background-color: $main-white;
  border: 2px solid $main-yellow;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.26);

    &:hover {
      color: $main-white;
      background-color: $main-yellow;
    }

    &:active {
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.36);
    }
}

.hard-card-in-tutorial {
  background-color: burlywood;
}

.btn-checked {
  background-color: $main-yellow;
  color: $main-white;
  border-color: $main-white;
}

.btn-hidden {
  display: none;
}

.card-hard {
  background-color: rgba($main-red, 0.3);
}

.card-studied {
  background-color:rgba($main-green, 0.3);
}

.new-sign {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $main-green;
  font-weight: 700;
}