@import './assets/css/normalize.css';
@import './assets/scss/variables.scss';
@import './assets/scss/fonts.scss';
@import './assets/scss/mixins.scss';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
    color: #000;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-image: url(./assets/images/bg-beige.png);
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: $main-gray;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;
  padding: 0 2vw;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 20vw;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.card-image {
  width: 20vw;
  height: 15vw;
  background-size: cover;

}

.hard-card-in-tutorial {
  background-color: burlywood;
}
