body {
    color: #000;
    background: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(219, 219, 219);
}

.header-nav-ul {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.header-nav-li {
  list-style: none;
  cursor: pointer;
}

.login-container {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(206, 206, 206);

}

.footerDiv {
  padding: 3px;
}

.btn {
  display: inline-block;
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.header {
  height: 10vh;
}

.login-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-up-button {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}